body{
  background: linear-gradient(
      to bottom,
       white,
       white 60%,                                                                 
      red 40%,
      red 100%
  );
  padding: 50px;
  text-align: center;
  color: black;
}
.mainimg{
  width:100%;
  height:200px;
}
.imgs{
  box-shadow: 3px 2px black;
  border-radius: 20px;
  height: 300px;
  width: 250px;
}
footer{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
