body{
  background: linear-gradient(
      to bottom,
       white 60%,                                                                 
      red 40%,
  );
  padding: 50px;
  text-align: center;
  color: black;
}
.mainimg{
  width:20%;
  height:30%;
}
.imgs{
  box-shadow: 3px 2px gray;
  border-radius: 20px;
  height:30%;
  width: 20%;
}
footer{
  font-family:Segoe script;
}
